{% extends "crm/base.html" %}
{% load static %}
{% block header %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'crm:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'crm:upload_soilhardness' %}">Upload soilhardness</a></li>
            <li class="breadcrumb-item active" aria-current="page">Upload soilhardness</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <h1>Upload Successful</h1>
    <p>The zip file has been uploaded and processed successfully.</p>
{% endblock %}
