{% extends "crm/base.html" %}
{% load static %}
{% block header %}
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'crm:home' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'crm:upload_soilhardness' %}">Upload soilhardness</a></li>
            <li class="breadcrumb-item active" aria-current="page">Upload soilhardness</li>
        </ol>
    </nav>
{% endblock %}
{% block content %}
    <h1>Upload Successful</h1>
    {% if import_errors %}
        <h5>処理は成功しましたが、エラーが発生したデータがあります。詳細は以下のテーブルをご確認ください。</h5>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>CSV File</th>
                    <th>CSV Folder</th>
                    <th>Message</th>
                    <th>Created At</th>
                </tr>
            </thead>
            <tbody>
                {% for error in import_errors %}
                    <tr>
                        <td>{{ error.csvfile }}</td>
                        <td>{{ error.csvfolder }}</td>
                        <td>{{ error.message }}</td>
                        <td>{{ error.created_at }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No import errors.</p>
        <a class="btn btn-outline-primary mb-3" href="#" role="button">取り込みデータのアサインへ進む</a>
    {% endif %}
{% endblock %}
